{% extends "base" %}

{% block title %}Importu{% endblock title %}

{% block content %}
  <h1>Importu novan vorto</h1>

  <form class="search" method="get">
    <label for="demando">Vorto</label>
    <input type="search" name="demando">
    <button type="submit" title="Importu"><i data-feather="check"></i></button>
  </form>
{% endblock content %}
