@use crate::templates::*;
@use crate::word::Word;

@(daily_article: Word)

@:base_html(Some(0), "Hejmo", {
  <h1>La Nova Reta Vortaro</h1>

  <form class="search" method="get" action="sercxu">
    <label for="demando">Serĉu</label>
    <input type="search" name="demando">
    <button type="submit" title="Serĉu"><i data-feather="search"></i></button>
  </form>

  <h2>Artikolo de hodiaŭ : @daily_article.word</h2>
  <a href="/vorto/@daily_article.word">Legi</a>
}, {
  <p>La nova reta vortaro estas tiel la reta vortaro, sed kun moderna dizajno.</p>

  <p>Vi povas helpi aŭ legi la kodo <a href="https://github.com/nova-reta-vortaro/nrv">sur GitHub</a>.</p>
})
