@use crate::templates::*;

@(query: String, results: Vec<String>)

@:base_html(Some(1), "Serĉu", {
  <h1>Serĉu en la vortaro</h1>

  <form class="search" method="get">
    <label for="demando">Serĉu</label>
    <input type="search" name="demando" value="@query">
    <button type="submit" title="Serĉu"><i data-feather="search"></i></button>
  </form>

  @if !query.is_empty() {
    @if results.is_empty() {
      <div class="search-results error">
        <h1>:(</h1>
        <p>Neniu trafo</p>
      </div>
    } else {
      <div class="search-results">
        <p>@results.len() trafo@if results.len() != 1 {j}</p>
        <ul>
          @for result in results {
            <li>
              <a href="/vorto/@result">@result</a>
            </li>
          }
        </ul>
      </div>
    }
  }
}, {})
